
.gradle/
/build/
nbproject/project.properties
gradle.properties
.nb-gradle/*
.settings
.vscode
.nb-gradle/private/cache/ToothTiRaLabk19-d41d8cd98f00b204e9800998ecf8427e
.nb-gradle/profiles/private/aux-config
.nb-gradle/private/cache/ToothTiRaLabk19-d41d8cd98f00b204e9800998ecf8427e
.nb-gradle/private/cache/ToothTiRaLabk19-d41d8cd98f00b204e9800998ecf8427e
.nb-gradle/private/cache/ToothTiRaLabk19-d41d8cd98f00b204e9800998ecf8427e
